* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	color: white;
	font-size: 15px;
	font-weight: bold;



	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.btnplay{
	font-size: 25px;
	flex-grow: 0.2;
}
.btnsearch{
	font-size: 25px;
	flex-grow:0.2;
	justify-self: flex-end;
	text-align: end;
}
.btnexpl{
	opacity: 50%;
}
.btnseguiti{
	opacity: 50%;
}
.btnperte{
	display: flex;
	flex-direction: column;
	align-items: center;
}
hr{
	width: 30px;
	
	
}
#redpoint{
	color: red;
	font-size: 10px;
	position: relative;
	min-height: auto;
	top: -10px;


}
.s{
	width: 20px;
	border-radius: 50%;

}
img{
	width: 100%;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 11px;
	display: flex;
	flex-direction: column-reverse;
	min-height: 100px;
	justify-items: top;
	


	

	



	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.barranav{
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 11px;

}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-content: space-between;
	align-items: center;
	

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.numbers{
	font-size: 11px;
}
.btnplus{
	font-size: 25px;
	
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 250px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
